@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset;
  transition: background-color 5000s ease-in-out 0s;
}

html {
  scroll-timeline: --direction-text block;
}

body {
  width: 100%;

  font-family: 'Almarai', system-ui;
  font-weight: 400;
  font-style: normal;

  color: rgb(23, 23, 23);
  background: #f4f4f4;
}
